<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%=candle.name%></title>
</head>
<body>
    <h1><%= candle.name %></h1>
    <% if (candle.hasPrize) { %>
        <p>This candle has a prize!</p>
        <% } else { %>
            <p>This candle does not have a prize </p>
        <% } %>
        <form action="/candles/<%= candle._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete <%=candle.name %></button>
        </form>
        <a href="/candles/<%= candle._id %>/edit">Edit <%= candle.name %></a>
</body>
<a href="/candles">Back to Candles</a>
</html>